<section>
  <div class="row">
    <div class="col-md-6">
      <h4>about me</h4>
      <p>
        I'm a full-stack developer currently based in Brooklyn, NY. In my free time I like
        to cook, bike, play guitar, piano, and drums, and pet the myriad stray cats that
        pass through the back yard of my apartment. Here I write about coding and
        entrepeneurship.
      </p>
    </div>
    <div class="col-md-6">
      <h4>my current open-source projects</h4>
      <ul>
        <li>
          <strong>
            <a href="https://github.com/glittershark/reactable">Reactable</a>
          </strong> - fast, simple, and extensible data tables in
          <a href="http://facebook.github.io/react">React.js</a> 
        </li>
        <li>
          <strong>
            <a href="https://github.com/glittershark/projectionist">Projectionist</a>
          </strong> - an implementation of tpope's
          <a href="https://github.com/tpope/vim-projectionist">projections.json</a>
          format on the command line
        </li>
        <li>
          <strong>
            <a href="https://github.com/glittershark/2chainz">2Chainz</a>
          </strong> - keychain management fo' playaz (mostly an attempt to teach myself
          Haskell)
        </li>
      </ul>
    </div>
  </div>
</section>
